<?xml version="1.0"?>
<model>
  <name>robotx_light_buoy_rgb_waves</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Paul Szenher</name>
    <email>pszenher@stevens.edu</email>
  </author>

  <description>
    Light buoy with LED panel used in the "Scan the Code" challenge in
    RobotX, with integrated buoyancy plugin used in the same way found
    in a subset of VRX world environments.
  </description>
</model>
